body {
    height:inherit;
       background-image: url(images/back.jpg);
}
.p-0{
    padding: 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}
.container-fluid {
    margin-top: 20px;
}
.navbar {
    height: 120px;
    font-size: 24px;
}
.btn {
    width: 220px;
     margin-right: 10px;
}
.footer {
    background-color: gray;
    color: white;
    padding: 20px 0;
    margin-top: 0 px;
     margin-bottom: 0 px;
      bottom: 0;
   height: 200px;
    
}

.pep {
    float: left;
    
    margin-right: 30px;
    margin-top: 10px;
}
.pep1 {
    float: left;
    margin-right: 30px;
}
